application:
    errorPresenter: Error
    mapping: App\Presentation\*\**Presenter

session:
    expiration: 14 days

security:
    users:
        admin: admin

services:
    router: RouterFactory::createRouter
    databaseManager: App\Model\DatabaseManager

database:
    dsn: 'mysql:host=host.docker.internal;port=3306;dbname=book_management'
    user: root
    password: ''
