<!doctype html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Knihy</title>
</head>
<body>
    <main>
        <h1>{$title}</h1>
        <p>PHP {$phpVersion}</p>
    </main>
</body>
</html>
