<nav class="side-menu" aria-label="Kategorie knih">
    <h2>Kategorie knih</h2>

    {foreach $categories as $category}
    <section>
        <h3>{$category['name']}</h3>
        {if $category['children']}
        <ul>
            {foreach $category['children'] as $child}
            <li><a href="#">{$child->name}</a></li>
            {/foreach}
        </ul>
        {/if}
    </section>
    {/foreach}
</nav>
